.hero-container {
    background: linear-gradient(-145deg, #DECAB6, 5%, #DECAB6, #C58469);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    height: 100vh;
    color: #0056a7;
}

.headline-wrapper {
    text-align: left;
}

.hero-img-wrapper {
    border: 1px solid blue;
}