.event-detail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-name-time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.event-summary-container {
    border-top: 1px solid #e6e6e6;
}


.event-url {
    text-transform: lowercase;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 45px;
    max-width: 75%;
  border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    margin: 15px 0px 15px 0px;
   
  }

  .time {
    font-weight: 600;
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: .15rem;

  }

  .event-summary {
    font-size: .8rem;
    font-style: italic;
  }

  .event-url-container {
    display: flex;
    justify-content: center;


  }
  
  .event-url:hover {
   background-color: #B02617;
   color: #fff;
   border: 1px solid #B02617;


  }


  
